[submodule "consumers/app-web"]
	path = consumers/app-web
	url = git@github.com:cremalab/app-web.git
	branch = develop
[submodule "consumers/app-mobile"]
	path = consumers/app-mobile
	url = git@github.com:cremalab/app-mobile.git
	branch = develop-scripts
